body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #092771;
    flex-wrap: wrap; 
}

h3{
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.board{
    background-color: black;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin-top: -40px;
    
}
h1{
    color:#F94F6D;
    font-family:'CursedTimer',;
    font-size: 90px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.lower{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.score{
    width:45px;
    height:45px;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.new-game{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #092771;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clear{
    background-color: red;
    color: white;
    width: 120px;
    height: 40px;
    border:2px solid red;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}
